<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" >
    <title>Mike Tyson</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/work">work</a>
        <a href="/gallery">gallery</a>
    </nav>
    <div>
        <img src="/images/MikeTyson20.webp" class="galleryImg" alt="20 years old">
    </div>
    <div>
        <img src="/images/MikeTysonBelt.jpg" class="galleryImg" alt="wins belts">
    </div>
    <div>
        <img src="/images/miketysoncomedy.jpg" class="galleryImg" alt="comedy">
    </div>
    <div>
        <img src="/images/miketysoncowboy.jpeg" class="galleryImg" alt="cowboy">
    </div>
    <div>
        <img src="/images/miketysonmovie.webp" class="galleryImg" alt="movie">
    </div>
    <div>
        <img src="/images/miketysonportrait.webp" class="galleryImg" alt="portrait">
    </div>

</body>
</html>