<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" >
    <title>Mike Tyson</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/work">work</a>
        <a href="/gallery">gallery</a>
    </nav>
    <div>
        <h1>Mike Tyson</h1>
        <img id="homeimg" src="/images/MikeTyson20.webp">
    </div>
    <div>
        <p>Mike Tyson, the living legend of boxing, embodies raw power and unrivaled tenacity. 
            From his humble beginnings to becoming a global icon, his ferocious punches and 
            indomitable spirit have left an indelible mark on the sport. Tyson's presence in the 
            ring is electrifying, captivating audiences with his explosive talent and 
            larger-than-life personality. A true force to be reckoned with, Mike Tyson is 
            the epitome of a boxing icon.</p>
    </div>
</body>
</html>