<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" >
    <title>Mike Tyson</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/work">work</a>
        <a href="/gallery">gallery</a>
    </nav>
    <di>
        <h1>The list of amazing work</h1>
    </di>
    <div>
        <h2>Mike Tyson's Memorable Boxing Fights</h2>
    <ul>
        <li>Mike Tyson vs. Trevor Berbick - <span>Win (TKO)</span></li>
        <li>Mike Tyson vs. James "Bonecrusher" Smith - <span>Win (Decision)</span></li>
        <li>Mike Tyson vs. Michael Spinks - <span>Win (KO)</span></li>
        <li>Mike Tyson vs. Buster Douglas - <span>Loss (KO)</span></li>
        <li>Mike Tyson vs. Frank Bruno - <span>Win (TKO)</span></li>
        <li>Mike Tyson vs. Evander Holyfield (First Fight) - <span>Loss (Disqualification)</span></li>
        <li>Mike Tyson vs. Evander Holyfield (Rematch) - <span>Loss (Disqualification)</span></li>
        <li>Mike Tyson vs. Lennox Lewis - <span>Loss (KO)</span></li>
        <li>Mike Tyson vs. Danny Williams - <span>Loss (KO)</span></li>
        <li>Mike Tyson vs. Kevin McBride - <span>Loss (TKO)</span></li>
    </ul>
    </div>
    <div>
        <h2>Mike Tyson's Movies</h2>
        <ul>
            <li><strong>The Hangover</strong> (2009) - Tyson makes a cameo appearance as himself.</li>
            <li><strong>Ip Man 3</strong> (2015) - Tyson portrays a fictional character named Frank, an American property developer.</li>
            <li><strong>Meet the Blacks</strong> (2016) - Tyson appears as himself in this horror-comedy film.</li>
            <li><strong>Ip Man 4: The Finale</strong> (2019) - Tyson reprises his role as Frank in the final installment of the Ip Man series.</li>
            <li><strong>China Salesman</strong> (2017) - Tyson plays the role of Kabbah, an American engineer.</li>
            <li><strong>Scary Movie 5</strong> (2013) - Tyson appears in a brief cameo as himself.</li>
          </ul>
    </div>
    <div>
        <h2>Mike Tyson's Comedy</h2>
        <ul>
            <li><strong>The Comedy Punchline:</strong> Mike Tyson Live!</li>
            <li><strong>The Roaring Laughter Tour:</strong> An Evening with Mike Tyson</li>
            <li><strong>Laugh Riot Comedy Fest:</strong> Mike Tyson Unleashed!</li>
            <li><strong>Jokes and Jabs:</strong> A Night of Laughter with Mike Tyson</li>
            <li><strong>The Knockout Comedy Special:</strong> Mike Tyson Takes the Stage</li>
            <li><strong>Comedy and Uppercuts:</strong> The Hilarious World of Mike Tyson</li>
          </ul>
    </div>
</body>
</html>